.header{
    flex: 1.2;
    background-color: var(--bg-color-1);
}

.header p{
    font-size: 1.2rem;;
    line-height: 1.875rem;
    color: var(--text-color-1);
    display: flex;
    justify-content: flex-end;
}

.header_expression{
    overflow-x: scroll;
    width: 100%;
    min-height: 30px;
    position: relative;
    top: 110px;
    right: 22px;
}

.header_expression p{
    white-space: nowrap;
    width: fit-content;
    min-width: 100%;
    font-weight: bold;
}

.header_result{
    font-weight: bold;
    font-size: 2.8rem !important;
    min-height: 30px;
    position: absolute;
    top: 70px;
    right: 18px;
}